@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --primary:  #ffa100;
    --secondary: #fdbf5b;
    --secondary-dark : #dca54e;
    --light: #F8F8F8;
    --dark: #3f505a;

}

h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
    border-radius: 5px;
}
.text-secondary{
  color: #dca54e !important;
}
.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    border: 0px;
}
.btn-primary {
  background-color: #3f505a;
  border-color: #3f505a;
}
.btn-primary:hover, .btn-secondary:hover {
  background-color: #dca54e;
  border-color: #fdbf5b;
}
.btn-secondary {
  background-color: var(--primary);
  border-color: var(--secondary-dark);
}
.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}
.bg-dark{
  background: var(--dark) !important;
}
.text-dark{
  color: var(--dark) !important;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2rem;
}

.btn-outline-body {
    color: #fffefb;
}

.btn-outline-body:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 34px 0;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    position: relative;
    font-size: 14px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}
.nav-link:hover::after{
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  background: var(--primary);
  right: 0;
  bottom: 33px;
}
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: #fff;
    transition: .5s;
}

.header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    transition: .5s;
    border-color:#fff;
}

.header-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}


/*** Facts ***/
.fact-item .fact-icon {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #c0c4c8;
    border-radius: 120px;
    transition: .5s;
}

.fact-item:hover .fact-icon {
    background: var(--dark);
}

.fact-item .fact-icon i {
    color: var(--primary);
    transition: .5;
}

.fact-item:hover .fact-icon i {
    color: #FFFFFF;
}

/*** About & Feature ***/
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}

/*** Service ***/
.service-item .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.service-item .service-text {
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-text {
    background: rgba(0, 0, 0, .7);
    /* background: rgba(232, 219, 78, 0.7); */
}

.service-item * {
    transition: .5;
}

.service-item:hover * {
    color: #FFFFFF;
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
    border-radius: 5px;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Project ***/
.project .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.project .nav .nav-link.active {
    background: var(--dark) !important;
    
}

.project .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}

/* client */
.clients {
    padding: 40px 0;
  }
  
  .clients .swiper {
    padding: 10px 0;
  }
  
  .clients .swiper-slide img {
    transition: 0.7s;
  }
  
  .clients .swiper-slide img:hover {
    transform: scale(1.1);
  }
  
  .clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    background-color: #ddd;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
      transform: translateX(calc(-250px * 7));
    }
  }
  .client-slider {
    background: white;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  .client-slider::before,
  .client-slider::after {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(white),
      to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .client-slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  .client-slider::before {
    left: 0;
    top: 0;
  }
  .client-slider .client-slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: flex;
    width: calc(250px * 14);
  }
  .client-slider .client-slide {
    height: 100px;
    width: 250px;
  }
 
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #3f505a;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ffa100;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ffa100 ;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ffa100;
}
.footer-widget ul li a {
  color: #fff;po
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ffa100 ;
    padding: 13px 20px;
    border: 1px solid #ffa100 ;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

/* hhh */
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec-title {
  position: relative;
  padding-bottom: 40px;
}
.sec-title .title {
  position: relative;
  color: #ff5e14;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbb;
}
.sec-title h2 {
  position: relative;
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}
.sec-title.light h2 {
  color: #fff;
}

.contact-page-section {
  position: relative;
  padding-top: 47px;
  padding-bottom: 110px;
}
.contact-page-section .inner-container {
  position: relative;
  z-index: 1;
  background-color: #ff5e14;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.contact-page-section .form-column {
  position: relative;
  padding: 0 0 0 15px;
}
.contact-page-section .form-column .inner-column {
  position: relative;
  padding: 60px 45px 30px;
  background-color: #ddd;
}
.contact-page-section .info-column {
  position: relative;
}
.contact-page-section .info-column .inner-column {
  position: relative;
  padding: 60px 35px;
}
.contact-page-section .info-column h2 {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 45px;
}
.contact-page-section .info-column .list-info {
  position: relative;
  margin-bottom: 60px;
}
.contact-page-section .info-column .list-info li {
  position: relative;
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  line-height: 1.8em;
  padding-left: 45px;
}
.contact-page-section .info-column .list-info li:last-child {
  margin-bottom: 0;
}
.contact-page-section .info-column .list-info li i {
  position: absolute;
  left: 0;
  top: 8px;
  color: #fff;
  font-size: 30px;
}
.contact-form {
  position: relative;
}
.contact-form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  color: #222;
  font-size: 14px;
  line-height: 38px;
  padding: 10px 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: #ff5e14;
}
.contact-form textarea {
  height: 250px;
  resize: none;
}
.contact-form .theme-btn {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 16px 39px;
  border: 2px solid #ff5e14;
  font-family: Arimo, sans-serif;
  background: #ff5e14;
  display: inline-block;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
}
.contact-form .theme-btn:hover {
  color: #ff5e14;
  border-color: #00b8ca;
  background: 0 0;
}
.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
  border-color: red !important;
}
.contact-form label.error {
  display: block;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: red;
  font-weight: 500;
}
.social-icon-four {
  position: relative;
}
.social-icon-four li {
  position: relative;
  margin-right: 18px;
  display: inline-block;
}
.social-icon-four li.follow {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}
.social-icon-four li a {
  position: relative;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-icon-four li a:hover {
  color: #222;
}

.top-bar{
  padding: 4px 0px !important;
}
.top-bar .contact a{
  font-size: 13px;
}
.navbar-nav .active{
  position: relative;
}
.navbar-nav .active::after{
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  background: var(--primary);
  right: 0;
  bottom: 33px;
}
.footer-logo img{
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
.copyright{
  border-top: 1px solid #ddd;
}

.modal-parent-div {
  background: url('../assets/img/popup-bg.jpg');
  background-position: right;
  display: flex;
  flex-direction: row;
}
.modal-imge{
  max-width: 100%;
}
.modal-imge img{
  max-height: 800px;
  max-width: 100%;
}
.modal-text {
  text-align: center;
  color: #000;
  padding: 30px 20px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 5%  auto;
  /* padding: 20px 20px 40px 20px; */
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  animation: slide-down 0.5s forwards;
}
.close {
  color: #000000;
    display: flex;
    position: absolute;
    top: 10px;
    font-size: 20px;
    right: 20px;
    justify-content: flex-end;
    cursor: pointer;
}

.landcape-img{
  display: none;
}

@media screen and (max-width:768px) {
  .modal-parent-div{
    flex-direction: column;
  }
  .landcape-img{
    display: block;
  }
  .portrate-img{
    display: none;
  }
  .modal-imge{
    width: 100%;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-content.closing {
  animation: slide-up 0.5s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* step */
/* .container2 {
  margin: -2rem 0;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2px;
  background-color: #3f505a;
}
.container2::-webkit-scrollbar {
  height: 45px;
}
.container2::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 100%;
  border: 20px solid transparent;
}

.entries {
  margin-right: -10000px;
  margin-left: 1rem;
}

.timeline {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 0.7rem;
  background-color: rgb(183, 183, 180);
  background-clip: content-box;
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: #bcbcbc;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(0, 0, 0, 0.1);
}

.entry {
  float: left;
  max-width: 220px;
  position: relative;
  text-align: center;
  margin: 0 1rem;
  margin-top: 0.7rem;
}
.entry .dot {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ffa100;
  left: 50%;
  margin-left: -0.6rem;
  margin-top: -0.95rem;
  border-radius: 100%;
  box-sizing: border-box;
  background-clip: content-box;
  border-width: 0.16rem;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(255, 255, 255, 0.1), inset 0 0.4rem 0.1rem rgba(255, 255, 255, 0.3);
  -moz-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -o-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -webkit-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
}

.entry:hover .dot {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -0.8rem;
  margin-top: -1.15rem;
  background-color: rgb(255, 140, 46);
}
.entry:hover .label {
  margin-top: 2.5rem;
  background-color: #d0e8e4;
  border-bottom: 0.5rem solid transparent;
}

.label {
  display: inline-block;
  position: relative;
  background-color: #E1F0EE;
  background-clip: padding-box;
  margin-top: 3rem;
  padding: 0.4rem 0.8rem 0.8rem;
  border-radius: 0.2rem;
  -moz-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -o-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -webkit-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  border-bottom: 0 solid transparent;
}
.label .time {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 0.4rem;
  padding: 0 0.3rem 0.3rem;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.label .detail {
  font-size: 1.05rem;
}
.label:before {
  content: '';
  display: block;
  position: absolute;
  background-color: inherit;
  background-clip: content-box;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  left: 50%;
  margin-top: -0.9rem;
  margin-left: -0.5rem;
  transform-origin: center;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}
.label a {
  color: #000;
  text-decoration: none;
}
.label a:before {
  content: '[';
}
.label a:after {
  content: ']';
}

.entry.life .label {
  background-color: #e1f0e4;
}

.entry.life:hover .label {
  background-color: #d0e8d5;
}

.entry.study .label {
  background-color: #e1e8f0;
}

.entry.study:hover .label {
  background-color: #d0dbe8;
} */


#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#container2 {
  float: left;
  padding: 1em;
  width: 100%;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
} */

ul,
ol {
  margin: 1em 0;
}

ol.process-chart {
  color: #000;
  counter-reset: item;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}

ol.process-chart > li,
ol.process-chart > li > div {
  position: relative;
}

ol.process-chart > li {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.25) 0%,
    transparent 25%
  );
  background-color: #fff;
  counter-increment: item;
  flex-basis: 0;
  flex-grow: 1;
  margin: 1em 1em 1em -1em;
  min-width: 11.25em;
  padding: 1em 1em 1em 2em;
}

ol.process-chart > li:before,
ol.process-chart > li > div:before {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

ol.process-chart > li:before {
  content: "Step";
  display: inline-block;
  font-weight: 300;
  left: 2em;
  letter-spacing: 0.1em;
  position: absolute;
  top: 1em;
  transform: rotate(90deg);
  transform-origin: 25% 50%;
}

ol.process-chart > li:after {
  border-bottom: 1em solid transparent;
  border-left: 1em solid #fff;
  border-right: 0 solid transparent;
  border-top: 1em solid transparent;
  content: "";
  height: 100%;
  position: absolute;
  right: -1em;
  top: 0;
  width: 0;
  z-index: 1;
}

ol.process-chart > li > div {
  padding: 0 0 0 2.5em;
}

ol.process-chart > li > div:before {
  content: counter(item, decimal-leading-zero);
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
}

ol.process-chart > li:nth-of-type(6n + 1) {
  background-color: #dee7ed;
}

ol.process-chart > li:nth-of-type(6n + 1):after {
  border-left-color: #dee7ed;
}

ol.process-chart > li:nth-of-type(6n + 2) {
  background-color: #ede5de;
}

ol.process-chart > li:nth-of-type(6n + 2):after {
  border-left-color: #ede5de;
}

ol.process-chart > li:nth-of-type(6n + 3) {
  background-color: #a6a09b;
}

ol.process-chart > li:nth-of-type(6n + 3):after {
  border-left-color: #a6a09b;
}

ol.process-chart > li:nth-of-type(6n + 4) {
  background-color: #e2dfed;
}

ol.process-chart > li:nth-of-type(6n + 4):after {
  border-left-color: #e2dfed
}

ol.process-chart > li:nth-of-type(6n + 5) {
  background-color: #9e9ca6;
}

ol.process-chart > li:nth-of-type(6n + 5):after {
  border-left-color: #9e9ca6;
}

@media only screen and (max-width: 40em) {
  ol.process-chart {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
  }

  ol.process-chart > li {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, transparent 25%);
    flex-basis: inherit;
    margin: -1em 0 1em 0;
    min-width: inherit;
    padding: 1em 1em 0 1em;
  }

  ol.process-chart > li:before {
    left: 1em;
    top: 2em;
  }

  ol.process-chart > li:after {
    border-bottom: 0 solid transparent;
    border-left: 1em solid transparent !important;
    border-right: 1em solid transparent;
    border-top: 1em solid #fff;
    bottom: -1em;
    height: 0;
    left: 0;
    right: inherit;
    top: inherit;
    width: 100%;
  }

  ol.process-chart > li > div {
    padding: 1em 1em 0 1em;
  }

  /*** PRIMARY ***/
  ol.process-chart > li:nth-of-type(6n + 1):after {
    border-top-color: #a2ed56;
  }

  /*** SECONDARY ***/
  ol.process-chart > li:nth-of-type(6n + 2):after {
    border-top-color: #83e4e2;
  }

  /*** TERTIARY ***/
  ol.process-chart > li:nth-of-type(6n + 3):after {
    border-top-color: #fd6470;
  }

  /*** QUATERNARY ***/
  ol.process-chart > li:nth-of-type(6n + 4):after {
    border-top-color: #fca858;
  }

  /*** QUINARY ***/
  ol.process-chart > li:nth-of-type(6n + 5):after {
    border-top-color: #fddc32;
  }
}
